include ../card-header/card-header
include ../review-item/review-item
include ../portfolio-item/portfolio-item
include ../program-item/program-item

mixin place()
  .container
    +b('section').catalog.artist-profile
      +e.header.clearfix
        +card-header('LOFT #1 THE EVENT HALL', '2-я Звенигородская, д. 12, стр. 18', '10000', 12)
        +e.hero-image.catalog__hero-image--place
          img(src="https://unsplash.it/900/600?image=1025", alt="")

        ul.photo-tiles.photo-tiles--place
          li
            img(src="https://unsplash.it/270/300?image=1025", alt="")
          li
            img(src="https://unsplash.it/270/300?image=1025", alt="")
          li
            img(src="https://unsplash.it/270/300?image=1025", alt="")
            .overlay.text-center
              .text +21 фото
        +e.map

      +e.content.clearfix
        ul.card-tabs
          li#description.tab-header Описание
          li#chars.tab-header Характеристики
          li#portfolio.tab-header Портфолио
          li#eq.tab-header Оборудование
          li#reviews.tab-header Отзывы

        +b.card-tabs-content
          .tab-content#description-block
            .flex-block
              +e.text
                p Loft #1 – это масштабный проект конца 2015 года, который открыл свои двери на территории бывшего лакокрасочного завода, а сейчас активно развивающегося арт-пространства за Москва-Сити. Он включает в себя 6 автономных залов с просторной welcome-зоной, вместимостью до 600 человек, а также открытую и закрытые веранды.
                p Loft #1 сохранил исторический облик здания, но приобрел современные черты в отделке – промышленный экстерьер, необработанные кирпичные и окрашенные стены, в сочетании с дизайнерской мебелью соединили в себе черты индустриальности и эклектичного шика.
                p Loft #1 – идеальная площадка для любого мероприятия не только по атмосфере и дизайну, но и по техническим характеристикам:
                ul.text-list
                  li все залы оборудованы полным комплектом светового и звукового оборудования;
                  li собственная охраняемая парковка;
                  li несколько вариантов welcomeliпространств на выбор;
                  li расположение в центре города, в 100 метрах от м. Улица 1905 года;
                  li возможность привоза своего алкоголя без пробкового сбора;
                  li безлимитные безалкогольные и алкогольные напитки.
                p Удобная система работы, подробные схемы, лояльность условий, разнообразие вариантов меню и более чем демократичные цены очень быстро сделают вас нашим постоянным клиентом!

                p
                  span.caption Доступные форматы
                  |мальчишник, девишник, корпоратив, банкет, фуршет
                .content-tables.clearfix
                  table.char-table
                    tbody
                      tr
                        td Условия аренды
                        td
                      tr.inner-row
                        td
                          span.u-text-small минимальное время
                        td 4 часа
                      tr.inner-row
                        td
                          span.u-text-small базовая цена за час
                        td 10 000 рублей
                      tr
                        td Подготовка
                        td
                      tr.inner-row
                        td
                          span.u-text-small максимальное время
                        td 4 часа
                      tr.inner-row
                        td
                          span.u-text-small стоимость часа
                        td бесплатно
                  table.char-table
                    tbody
                      tr
                        td Оплата
                        td
                      tr.inner-row
                        td
                          span.u-text-small условия бронирования
                        td платное, 1%
                      tr.inner-row
                        td
                          span.u-text-small форма оплаты
                        td наличные, безналичный расчет
                      tr
                        td Бытовой райдер артиста
                        td
                      tr.inner-row
                        td
                          span.u-text-small включен в стоимость
                        td да
                      tr.inner-row
                        td
                          span.u-text-small максимальная сумма
                        td 2 000 рублей

                .content-title Примечание
                p
                  span.caption Ознакомительные условия
                  | В случае отказа Заказчика от уже заключенной, но еще не реализованной, сделки с Курьером (то есть, если Система «Бринго» зафиксировала соглашение между Заказчиком и Курьером, однако Курьер не принял Отправление от Заказчика/Отправителя к доставке по вине Заказчика), Заказчику возвращается Стоимость услуги. При этом сбор с Курьера не взимается.
                p В случае отказа Курьера от уже заключенной, но еще не реализованной, сделки с Заказчиком (то есть, если Система «Бринго» зафиксировала соглашение между Заказчиком и Курьером, однако Курьер не принял Отправление от Заказчика/Отправителя к доставке по своей вине/инициативе), Заказчику возвращается Стоимость услуги. При этом с ВСк и/или ИКК списываются денежные средства в размере Вознаграждения «Бринго».
                p
                  span.caption Существенные условия
                  | Хочу котика

              +e.side-block

                .sidebar-bordered-block
                  .text-center
                    .heading-rate
                      span КАТЕГОРИИ ПЛОЩАДКИ:
                    p Ресторан
                    p Лофт
                    p Концертный зал
                    p Выставочный зал

                .sidebar-bordered-block
                  .text-center
                    .heading-rate
                      span Рейтинг
                    .rate-number 4.2
                    ul.rating-stars
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li.u-text-grey
                        i.fa.fa-star
                    .comment
                      a(href="#") 21 отзыв

          .tab-content#chars-block
            .content-tables.clearfix
              table.char-table
                tbody
                  tr
                    td Тип площадки
                    td закрытое помещение
                  tr
                    td Общая площадь:
                    td 500 кв. м
                  tr.inner-row
                    td Габариты помещения:
                    td
                  tr.inner-row
                    td
                      span.u-text-small длина помещения
                    td 50 м
                  tr.inner-row
                    td
                      span.u-text-small ширина помещения
                    td ширина помещения
                  tr.inner-row
                    td
                      span.u-text-small высота потолков
                    td 5 м
                  tr
                    td Максимальная вместимость:
                    td 150 гостей
                  tr
                    td Рассадка:
                    td
                  tr.inner-row
                    td
                      span.u-text-small банкетная рассадка
                    td от 50 до 70 мест
                  tr.inner-row
                    td
                      span.u-text-smallфуршетная рассадка
                    td 80 мест
                  tr.inner-row
                    td
                      span.u-text-small бар
                    td 30 мест
                  tr
                    td Гардероб:
                    td на 150 гостей
                      br
                      |есть гардеробщик
                  tr
                    td Интернет:
                    td 50/10 Мб/с
                      br
                      |есть Wi-fi
              table.char-table
                tbody
                  tr
                    td Безопасность:
                    td
                    tr.inner-row
                      td
                        span.u-text-small эвакуационные выходы
                      td 2 выхода
                    tr.inner-row
                      td
                        span.u-text-small пожарная сигнализация
                      td стандартная
                    tr
                      td Зона для курения:
                      td имеется
                    tr
                      td Охрана:
                      td
                    tr.inner-row
                      td
                        span.u-text-samll пропускной режим
                      td 1 турникет
                    tr
                      td Гримерные:
                      td имеются
                    tr
                      td Парковка:
                      td на 150 мест
                        br
                        | входит в стоимость
                        br
                        | есть услуги парковщика
                    tr
                      td Услуги ресторана:
                      td имеются

            .content-title.content-title--bordered Ресторан
            p Отличительная особенность блюд русской крестьянской кухни — практически не встречается такой приём как жарка. Как правило, пища готовилась в печи, поэтому очень широко используются варка, тушение, томление. Также для русской кухни характерна заготовка овощей и плодов при помощи квашения, соления и мочения. Однако для современных вариантов русских блюд жарка является равноправным процессом приготовления наряду с остальными. В частности, жарке подвергаются блины и оладьи, яйца, многие виды мясных блюд.

            +b('ul').portfolio-grid
              +e('li').item
                img(src="https://unsplash.it/270/150?image=1025", alt="")
              +e('li').item
                img(src="https://unsplash.it/270/150?image=1025", alt="")
              +e('li').item
                img(src="https://unsplash.it/270/150?image=1025", alt="")
              +e('li').item
                img(src="https://unsplash.it/270/150?image=1025", alt="")
              +e('li').item
                img(src="https://unsplash.it/270/150?image=1025", alt="")
              +e('li').item
                img(src="https://unsplash.it/270/150?image=1025", alt="")
              +e('li').item
                img(src="https://unsplash.it/270/150?image=1025", alt="")

            .content-title.content-title--bordered Планы помещения
            p
              img(src="assets/images/scheme-1.png", alt="")

            .content-title.content-title--bordered Гримерные

            table.char-table
              tbody
                tr.inner-row
                  td Гримерная 1
                  td
                tr.inner-row
                  td
                    span.u-text-small Площадь
                  td  30 кв. м
                tr.inner-row
                  td
                    span.u-text-small Расстояние до сцены
                  td 4 м
                tr.inner-row
                  td
                    span.u-text-small Душ
                  td имеется
            table.char-table
              tbody
                tr
                  td.u-no-border
                  td.u-no-border
                tr.inner-row
                  td
                    span.u-text-small Туалет
                  td имеется
                tr.inner-row
                  td
                    span.u-text-small Служебный выход
                  td имеется

          .tab-content#portfolio-block
            .content-title Выполненные проекты
            +b('ul').portfolio-grid
              +e('li').item
                +portfolio-item('Вечеринка1', "#")
              +e('li').item
                +portfolio-item('Вечеринка2', "#")
              +e('li').item
                +portfolio-item('Вечеринка3', "#")
              +e('li').item
                +portfolio-item('Вечеринка4', "#")
              +e('li').item
                +portfolio-item('Вечеринка5', "#")
              +e('li').item
                +portfolio-item('Вечеринка6', "#")

            .content-title Видео
            +b('ul').portfolio-grid
              +e('li').item
                +portfolio-item('Вечеринка1 танцы', "#", true)
              +e('li').item
                +portfolio-item('Вечеринка2 песни', "#", true)

          .tab-content#eq-block
            .content-title Звуковое оборудование
            table.eq-table
              thead
                tr
                  th Оборудование
                  th Модель
                  th Количество
              tbody
                tr
                  td Акустические системы / линейные массивы
                  td L-ACOUSTICS KUDO
                  td 2
                tr
                  td Акустические системы / усилители
                  td L-ACOUSTICS LA8
                  td 8
                tr
                  td Акустические системы / линейные массивы
                  td Electro Voice Xi 2153
                  td 4
                tr
                  td Микшерные пульты / цифровые пульты
                  td Yamaha M7CL-48
                  td 4
                tr
                  td Микшерные пульты / цифровые пульты
                  td BEHRINGER X32 RACK
                  td 1
            .content-title Световое оборудование
            table.eq-table
              thead
                tr
                  th Оборудование
                  th Модель
                  th Количество
              tbody
                tr
                  td Динамические приборы / Spot
                  td Eurolite Led Tmh-12 Moving-Head Beam
                  td 12
                tr
                  td Динамические приборы / Wash
                  td Mac Viper Beam
                  td 8
                tr
                  td Статические приборы / Blinder
                  td Mac Viper Quadray
                  td 4
                tr
                  td Световые спецэффекты / Strobe
                  td Rush Mh 3 Beam
                  td 4
                tr
                  td Световые спецэффекты / Hazer
                  td Rush Mh 4 Beam
                  td 1



          .tab-content#reviews-block

            .flex-block
              +e.text

                +review-item('Amanda',  '10 апреля 2016, 20:16', 'Масштабный проект конца 2015 года, который открыл свои двери на территории бывшего лакокрасочного завода, а сейчас активно развивающегося арт-пространства за Москва-Сити. Он включает в себя 6 автономных залов с просторной welcome-зоной, вместимостью до 600 человек, а также открытую и закрытые веранды.')

                +review-item('Vasya',  '10 апреля 2016, 20:16', 'Масштабный проект конца 2015 года, который открыл свои двери на территории бывшего лакокрасочного завода, а сейчас активно развивающегося арт-пространства за Москва-Сити. Он включает в себя 6 автономных залов с просторной welcome-зоной, вместимостью до 600 человек, а также открытую и закрытые веранды.')

                +review-item('Petya',  '10 апреля 2016, 20:16', 'Масштабный проект конца 2015 года, который открыл свои двери на территории бывшего лакокрасочного завода, а сейчас активно развивающегося арт-пространства за Москва-Сити. Он включает в себя 6 автономных залов с просторной welcome-зоной, вместимостью до 600 человек, а также открытую и закрытые веранды.')

                .reviews-button
                  a(href="#").btn-more Показать еще

              +e.side-block

                .sidebar-bordered-block
                  .text-center
                    .heading-rate
                      span Рейтинг
                    .rate-number 4.2
                    ul.rating-stars
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li
                        i.fa.fa-star
                      li.u-text-grey
                        i.fa.fa-star
                    .comment
                      a(href="#") 21 отзыв
    +b.disclaimer.u-text-center
      p Данные, использованные на сайте, включая стоимость билетов, а также расписание самолетов, поездов и электропоездов, взяты из официальных источников. Заказы ж/д билетов и авиабилетов, включая электронные жд билеты, оформляются партнерами Туту.ру. Стоимость указана с учетом сервисного сбора Туту.ру. Окончательную сумму можно увидеть на шаге подтверждения заказа. Ж/д, авиабилеты и туры найдены с помощью КТИС (Сколково).
