.catalog

  &__hero-image--place
    width 595px

  &__map
    float right
    width 395px
    background text-color-grey

.photo-tiles--place
  float left
  width 175px

.content-tables
  margin-bottom 20px

.content-title--bordered
  padding-bottom 18px
  border-bottom 1px solid #d8d8d8
  margin-bottom: 30px;

.char-table
  width 50%
  float left
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  & + &
    width calc(50% - 30px)
    float right

  td
    width 50%
    padding 20px 0
    border-top 1px solid #ebebeb
    vertical-align: top;

    &:nth-child(2)
      padding-left 30px

  .inner-row
    td
      border none
      padding 8px 0

      &:nth-child(2)
        padding-left 30px

.caption
  display block
  font-size 14px
  color text-color-grey
  margin-top: 30px;

#eq-block
  .content-title
    margin 28px 0

  .eq-table + .content-title
    margin-top 65px

.eq-table
  width 100%

  th
    padding-bottom 7px
    text-align left
    font-weight normal
    color text-color-grey
    border-bottom 2px solid #d2d3d5

  td
    padding 15px 0
    border-bottom 1px solid #d2d3d5

  tr td:first-child
    width: 70%;


