mixin program-item(name, role, price, duration)
  +b('article').portfolio-card
    +e.image
      a(href="program-card.html")
        img(src="https://unsplash.it/270/300?image=1025", alt="")
    +e.info
      +e('a href="program-card.html"').title= name
      span= role
    +e.price.clearfix
      span.u-pull-left от #{price} ₽
      span.u-text-grey.u-pull-right #{duration} минут
      
    +e.button-container
      button.btn.btn--search(type="button").green-btn Забронировать
