.footer
  width: 100%;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #000000;

  a:link
    text-decoration: none;

  ul li 
    list-style: none
    list-style-type: none;



  &__links
    float: left

    td
      vertical-align: top
      padding-right: 90px;

  &__block-title
    font-size: 16px;
    font-weight: bold;
    color: #434343;
    text-transform: uppercase
    padding-bottom: 10px;

  &__block-items
    display: block;
    line-height: 1.71;
    color: #000000;

  &__contacts {
    float: right;
    margin-right: 20px;
  }

  ul.network-links
    padding 0
    margin 0

    li
      display inline-block

      &:not(:last-child)
        margin-right 5px

    ul + ul
      margin-top 0.93em

  &__link-item
    font-size 16px
    color: #434343;

  &__welcome-text
    opacity: 0.5;

  &__bordered-container
    border-top: 1px solid #e8e8e8;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 30px;

    span
      opacity: 0.5;

  .contacts-info
    padding: 0;
    margin-bottom: 20px;

  .contacts-info li
    padding: 0;
    padding-bottom: 8px;
    font-size: 16px;

  .svg-container
    display: inline-block;
    margin-right: 10px

  .fa
    margin-right: 10px
    
  .footer__link-item .fa {
    margin-right: 0px;
  }




.wrapper:after {
    height: 0px;
}
.wrapper {
    min-height: calc(100vh - 401px);
    margin-bottom: 0px;
}
.footer .footer-bottom{
    padding-top: 40px;
    background-color: #fff;
    width: 100%;
}
