mixin card-header(name, role, price, reviews, isGreenBtn)
  a(href="index.html").u-text-grey Вернуться к результатам поиска
  +b.card-header.clearfix
    +e.info
      h1= name

      ul.rating-stars
        li
          i.fa.fa-star
        li
          i.fa.fa-star
        li
          i.fa.fa-star
        li
          i.fa.fa-star
        li.u-text-grey
          i.fa.fa-star

      a(href="#").u-blue-link #{reviews} отзывов
      span.u-text-grey= role

    +e.price.clearfix
      .price-info
        span.big-bold-text от #{price} ₽
        span.u-text-grey за программу
      if isGreenBtn == true
        button.btn.btn--search(type="button").reserve-btn.green-btn Забронировать
      else
        button.btn.btn--search(type="button").reserve-btn Забронировать

