.card
  position relative
  box-shadow 0 1px 2px rgba(0,0,0,.15)
  transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
  z-index 1

  &:after
    content ""
    border-radius 5px
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    box-shadow 0 5px 20px rgba(0,0,0,.15)
    opacity 0
    -webkit-transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
    transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)
    z-index -1

  &:hover:after
    opacity 1

  &__image
    height 173px
    overflow hidden

    a
      display block

  &__info
    padding 0 0.93em 0
    margin-bottom 0.687em
    font-size 0.875em
    color text-color-grey

  &__title
    display block
    margin 0.625em 0 0.31em
    font-family heading-font
    font-size 1.25rem
    color text-color-base
    text-decoration none
    transition all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1)

    &:hover
      text-decoration underline

  &__price
    padding 0 0.93em 0.93em
    color color-blue

    span
      float left

  &__rating
    margin 0
    padding 0
    list-style none
    float right
    color #F3A536

    li
      display inline-block
