mixin card(name, role, price, link)
  +b('article').card
    a(href="{link}.html")
      +e.image
        img(src="https://unsplash.it/270/300?image=1025", alt="")
      +e.info
        +e('span').title= name
        span= role
      +e.price.clearfix
        span от #{price} ₽
        +e('ul').rating
          li
            i.fa.fa-star
          li
            i.fa.fa-star
          li
            i.fa.fa-star
          li
            i.fa.fa-star
          li.u-text-grey
            i.fa.fa-star
