.review-item
  margin: 40px 0

  &__name
    font-size: 1.1em
    display: inline-block

  &__name + .rating-stars
    margin: 0.4em 10px;
    display: inline-block;

  &__date
    display: block
    font-size: 0.75em;
    margin-bottom: 10px;

  &__text
      word-break: break-word;