include ../card/card

mixin catalog-places()
  .container
    +b('section').catalog
      +e.header.clearfix
        +e.title
          h1 ДОСТУПНЫЕ площадки
          span 1245 предложений

        +e.search
          input.form-control(type="text" placeholder="Например, Олимпийский…")
          button.btn.btn--search(type="button") Найти

      +e.content.clearfix
        aside
          +e.main-filter
            .form-group
              label() Город
              select#city(name="city")
                option(value="moscow") Москва
                option(value="spb") Санкт-Петербург
            .form-group
              label() Начало мероприятия
              input.form-control.form-control--filter(type="text")
            .form-group
              label() Конец мероприятия
              input.form-control.form-control--filter(type="text")
            .form-group
              label() Количество гостей
              input.form-control.form-control--filter(type="number")
            .form-group
              label() Формат мероприятия
              select#format(name="format")
                option(value="corp") Корпоратив
                option(value="conf") Конференция

          +e('ul').items-filters
            +b('li').item-filter
              +e('span').name.js-show-inner-filter Тип Площадки
              +b('ul').inner-filter
                +e('li').item
                  input(type="radio" id="open" name="placeType")
                  label(for="open") Открытый
                +e('li').item
                  input(type="radio" id="closed" name="placeType")
                  label(for="closed") Закрытый
                +e('li').item
                  input(type="radio" id="dontCare" name="placeType")
                  label(for="dontCare") Неважно
            +b('li').item-filter
              +e('span').name.js-show-inner-filter Формат Площадки
              +b('ul').inner-filter
                +e('li').item
                  input(type="checkbox" id="rest" name="rest")
                  label(for="rest") Ресторан
                +e('li').item
                  input(type="checkbox" id="bar" name="bar")
                  label(for="bar") Бар
                +e('li').item
                  input(type="checkbox" id="cafe" name="cafe")
                  label(for="cafe") Кафе
                +e('li').item
                  input(type="checkbox" id="loft" name="loft")
                  label(for="loft") Лофт
                +e('li').item
                  input(type="checkbox" id="concertHall" name="concertHall")
                  label(for="concertHall") Выставочный зал
                +e('li').item
                  input(type="checkbox" id="concertHall" name="concertHall")
                  label(for="concertHall") Концертный зал
                +e('li').item
                  input(type="checkbox" id="stadium" name="stadium")
                  label(for="stadium") Стадион
            +b('li').item-filter
              input(type="checkbox" id="smoke" name="smoke")
              label(for="smoke") Зона для курения
            +b('li').item-filter
              input(type="checkbox" id="parking" name="parking")
              label(for="parking") Парковка
            +b('li').item-filter
              input(type="checkbox" id="makeup" name="makeup")
              label(for="makeup") Гримёрные
            +b('li').item-filter
              input(type="checkbox" id="internet" name="internet")
              label(for="internet") Интернет
            +b('li').item-filter
              +e('span').name.js-show-inner-filter Рейтинг
              +b('ul').inner-filter
                +e('li').item
                  input(type="radio" id="rate1" name="rating")
                  label(for="rate1") 1
                +e('li').item
                  input(type="radio" id="rate2" name="rating")
                  label(for="rate2") 2
                +e('li').item
                  input(type="radio" id="rate3" name="rating")
                  label(for="rate3") 3
                +e('li').item
                  input(type="radio" id="rate4" name="rating")
                  label(for="rate4") 4
                +e('li').item
                  input(type="radio" id="rate5" name="rating")
                  label(for="rate5") 5
            +b('li').item-filter
              +e('span').name.js-show-inner-filter Цена
              +b.inner-filter
                input.form-control.form-control--filter.form-control--inline.form-control--half(type="text" placeholder="От")
                input.form-control.form-control--filter.form-control--inline.form-control--half(type="text" placeholder="До")

          .u-text-center
            a.reset-filter(href="#") Сбросить фильтр

        .main-content
          +b('ul').card-grid
            +e('li').item
              +card('Exposed', 'Лофт', '15000')
            +e('li').item
              +card('Xaletsky Club', 'Бар, ресторан, кафе', '150000')
            +e('li').item
              +card('Ray Just Arena', 'Концертный зал, стадион, спортивная площадка, Концертный зал, стадион, спортивная площадка', '15000')
            +e('li').item
              +card('Королевский', 'Лофт', '15000')
            +e('li').item
              +card('Loft #1 The Event Hall', 'Лофт', '15000')
            +e('li').item
              +card('МИР', 'Концертный зал', '15000')

          +b.pagination.clearfix
            +e('ul').links
              li
                a.pagination__item(href="#")
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              li
                a.pagination__item(href="#") 1
              li
                a.pagination__item(href="#") 2
              li
                a.pagination__item(href="#") 3
              li
                a.pagination__item(href="#") 4
              li
                a.pagination__item(href="#") 5
              li
                a.pagination__item(href="#") ...
              li
                a.pagination__item(href="#") 498
              li
                a.pagination__item(href="#") 499
              li
                a.pagination__item(href="#") 500
              li
                a.pagination__item(href="#")
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            .items-qty.u-text-right
              span Выводить по
              select#itemQty(name="itemQty")
                option(value="10") 10
                option(value="50") 50
                option(value="100") 100

    +b.disclaimer.u-text-center
      p Данные, использованные на сайте, включая стоимость билетов, а также расписание самолетов, поездов и электропоездов, взяты из официальных источников. Заказы ж/д билетов и авиабилетов, включая электронные жд билеты, оформляются партнерами Туту.ру. Стоимость указана с учетом сервисного сбора Туту.ру. Окончательную сумму можно увидеть на шаге подтверждения заказа. Ж/д, авиабилеты и туры найдены с помощью КТИС (Сколково).

