include ../card/card

mixin catalog()
  .container
    +b('section').catalog
      +e.header.clearfix
        +e.title
          h1 ДОСТУПНЫЕ АРТИСТЫ
          span 1245 предложений

        +e.search
          input.form-control(type="text" placeholder="Например, Сергей Лазарев…")
          button.btn.btn--search(type="button") Найти

      +e.content.clearfix
        aside
          +e.main-filter
            .form-group
              label() Город
              select#city(name="city")
                option(value="moscow") Москва
                option(value="spb") Санкт-Петербург
            .form-group
              label() Начало мероприятия
              input.form-control.form-control--filter(type="text")
            .form-group
              label() Конец мероприятия
              input.form-control.form-control--filter(type="text")
            .form-group
              label() Количество гостей
              input.form-control.form-control--filter(type="number")
            .form-group
              label() Формат мероприятия
              select#format(name="format")
                option(value="corp") Корпоратив
                option(value="conf") Конференция

          +e('ul').items-filters
            +b('li').item-filter
              +e('span').name.js-show-inner-filter Амплуа и жанр артиста
              +b('ul').inner-filter
                +e('li').item
                  input(type="checkbox" id="mc" name="mc")
                  label(for="mc") Ведущий
                  +b('ul').inner-subfilter
                    +e('li')
                      input(type="checkbox" id="humor" name="humor")
                      label(for="humor") Юмор и стендап
                    +e('li')
                      input(type="checkbox" id="musician" name="musician")
                      label(for="musician") Музыкант
                    +e('li')
                      input(type="checkbox" id="theme" name="theme")
                      label(for="theme") Тематический
                +e('li').item
                  input(type="checkbox" id="music" name="music")
                  label(for="music") Музыкант
                  +b('ul').inner-subfilter
                    +e('li')
                      input(type="checkbox" id="instrumenetal" name="instrumenetal")
                      label(for="instrumenetal") Инструментальная музыка
                    +e('li')
                      input(type="checkbox" id="group" name="group")
                      label(for="group") Группа/ВИА
                +e('li').item
                  input(type="checkbox" id="orchestra" name="orchestra")
                  label(for="orchestra") Оркестр
                +e('li').item
                  input(type="checkbox" id="dj" name="dj")
                  label(for="dj") DJ
            +b('li').item-filter
              +e('span').name.js-show-inner-filter Рейтинг
              +b('ul').inner-filter
                +e('li').item
                  input(type="radio" id="rate1" name="rating")
                  label(for="rate1") 1
                +e('li').item
                  input(type="radio" id="rate2" name="rating")
                  label(for="rate2") 2
                +e('li').item
                  input(type="radio" id="rate3" name="rating")
                  label(for="rate3") 3
                +e('li').item
                  input(type="radio" id="rate4" name="rating")
                  label(for="rate4") 4
                +e('li').item
                  input(type="radio" id="rate5" name="rating")
                  label(for="rate5") 5
            +b('li').item-filter
              +e('span').name.js-show-inner-filter Цена
              +b.inner-filter
                input.form-control.form-control--filter.form-control--inline.form-control--half(type="text" placeholder="От")
                input.form-control.form-control--filter.form-control--inline.form-control--half(type="text" placeholder="До")

          .u-text-center
            a.reset-filter(href="#") Сбросить фильтр

        .main-content
          +b('ul').card-grid
            +e('li').item
              +card('Дуэт КП', 'Ведущий', '15000')
            +e('li').item
              +card('Вадим Ждан', 'Ведущий', '150000')
            +e('li').item
              +card('Максим Крицкий', 'Ведущий', '15000')
            +e('li').item
              +card('Артём Хворостухин', 'Ведущий, вокальный исполнитель', '15000')
            +e('li').item
              +card('Олег Белецкий', 'Ведущий', '15000')
            +e('li').item
              +card('Елена Голуб', 'Шоу и развлечения', '15000')

          +b.pagination.clearfix
            +e('ul').links
              li
                a.pagination__item(href="#")
                  <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
              li
                a.pagination__item(href="#") 1
              li
                a.pagination__item(href="#") 2
              li
                a.pagination__item(href="#") 3
              li
                a.pagination__item(href="#") 4
              li
                a.pagination__item(href="#") 5
              li
                a.pagination__item(href="#") ...
              li
                a.pagination__item(href="#") 498
              li
                a.pagination__item(href="#") 499
              li
                a.pagination__item(href="#") 500
              li
                a.pagination__item(href="#")
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
            .items-qty.u-text-right
              span Выводить по
              select#itemQty(name="itemQty")
                option(value="10") 10
                option(value="50") 50
                option(value="100") 100

    +b.disclaimer.u-text-center
      p Данные, использованные на сайте, включая стоимость билетов, а также расписание самолетов, поездов и электропоездов, взяты из официальных источников. Заказы ж/д билетов и авиабилетов, включая электронные жд билеты, оформляются партнерами Туту.ру. Стоимость указана с учетом сервисного сбора Туту.ру. Окончательную сумму можно увидеть на шаге подтверждения заказа. Ж/д, авиабилеты и туры найдены с помощью КТИС (Сколково).

