base-font = 'HelveticaNeueCyr'
heading-font = 'PT Sans Caption'

text-color-base = #28323a
text-color-grey = #a8acae
color-blue = #258cd5
color-biege = #f3f1ed


html
  box-sizing border-box
  height 100%

*,
*:before,
*:after
  box-sizing inherit

body
  height 100%
  font-family base-font
  color text-color-base
  line-height 1.4

  background #F2F2F2

.wrapper
  min-height 100%
  margin-bottom -187px

.wrapper:after
  display block
  content ""
  height 187px

.container
  margin 0 auto
  width 1230px

  // @media screen and (max-width: 1260px)
  //   padding 0 1.875em

.form-control
  width 100%
  height 48px
  font-family 'Helvetica', sans-serif
  padding-left 15px
  border-radius 3px
  background-color #ffffff
  border solid 1px #d2d3d5
  outline none

  &--filter
    height 38px

  &--inline
    display inline-block

  &--half
    width calc((100% - 20px) / 2)

    &:first-child
      margin-right 15px

.svg-sprite
  display none

.clearfix:after
    content ""
    display block
    clear both

.u-pull-right
  float right

.u-text-center
  text-align center

.u-text-right
  text-align right

.u-text-grey
  color text-color-grey
  
.u-flex-block
  display: flex

